Repository openebs/maya, pull requests merged in 2018-12, with the labels that each got.

#859 refactor(mayactl): add copyright text in mayactl files
  cmd/mayactl/app/command/pool/describe_test.go
  cmd/mayactl/app/command/pool/list_test.go
  cmd/mayactl/app/command/pool/pool.go
  cmd/mayactl/app/command/pool/pool_test.go
  cmd/mayactl/app/command/volume_create_test.go
  cmd/mayactl/app/command/volume_stats_test.go
  cmd/mayactl/app/command/volume_test.go
Labels: WIP, area/mayactl

#861 fix(mayactl): invalid status error when length of stats is not same
  cmd/mayactl/app/command/volume_stats.go
  cmd/mayactl/app/command/volume_stats_test.go
Labels: area/mayactl

#871 fix(cvr_status): fix cvr invalid status update bug
  cmd/cstor-pool-mgmt/controller/replica-controller/handler.go
  cmd/cstor-pool-mgmt/controller/replica-controller/new_replica_controller.go
Labels: Needs-Review, area/cstor-pool-mgmt, kind/bug-fix, priority/high, release-note
