Repository openebs/maya, pull requests merged in 2019-08, with the labels that each got.

#1389 cast(hostname): fetch hostname from nodename
  pkg/kubernetes/node/v1alpha1/functions.go
  pkg/kubernetes/node/v1alpha1/kubernetes.go
  pkg/kubernetes/node/v1alpha1/kubernetes_test.go
  pkg/templatefuncs/v1alpha1/templatefuncs.go
Labels: type: CASTemplate

#1392 fix(jiva): patch replica deployment with correct hostname
  pkg/install/v1alpha1/jiva_volume.go
Labels: component: Jiva, release-note

#1388 fix(bdc, cstor-operator): bdc creations in case of auto pool provisioning
  cmd/maya-apiserver/cstor-operator/spc/handler.go
  cmd/maya-apiserver/cstor-operator/spc/storagepool_create.go
  pkg/algorithm/nodeselect/v1alpha1/config.go
  pkg/algorithm/nodeselect/v1alpha1/select_node.go
  pkg/algorithm/nodeselect/v1alpha1/select_node_test.go
  pkg/blockdevice/v1alpha1/blockdevice.go
  pkg/install/v1alpha1/flags.go
  pkg/storagepoolclaim/v1alpha1/storagepoolclaim.go
  pkg/util/util.go
  pkg/util/util_test.go
Labels: component: CStorOperator, release-note

#1400 chore(cspc-operator) : containerise cspc-operator to run as a deployment
  GNUmakefile
  buildscripts/cspc-operator/Dockerfile
  cmd/cspc-operator/app/controller.go
  cmd/cspc-operator/app/controller_test.go
  cmd/cspc-operator/app/cspc_lease.go
  cmd/cspc-operator/app/cspc_lease_test.go
  cmd/cspc-operator/app/handler.go
  cmd/cspc-operator/app/handler_test.go
  cmd/cspc-operator/app/lease.go
  cmd/cspc-operator/app/operations.go
  cmd/cspc-operator/app/runner.go
  cmd/cspc-operator/app/runner_test.go
  cmd/cspc-operator/app/start.go
  cmd/cspc-operator/app/start_test.go
  cmd/cspc-operator/app/storagepool_create.go
  cmd/cspc-operator/app/storagepool_delete.go
  cmd/cspc-operator/operator.go
  cmd/maya-apiserver/app/command/start.go
  pkg/env/v1alpha1/env.go
Labels: component: CStorOperator

#1398 refactor(localpv bdd): allow to test when only local pv is installed
  tests/artifacts/openebs-ci.go
  tests/localpv/hostpath_test.go
  tests/localpv/suite_test.go
Labels: component: LocalPV, release-note-none, type: BDD

#1408 feat(api): include NodeAttributes in NDM BD and BDC
  pkg/apis/openebs.io/ndm/v1alpha1/blockdevice_types.go
  pkg/apis/openebs.io/ndm/v1alpha1/blockdeviceclaim_types.go
  pkg/apis/openebs.io/ndm/v1alpha1/zz_generated.deepcopy.go
  pkg/blockdeviceclaim/v1alpha1/build.go
Labels: NDM, release-note

#1412 fix(installer): skip re-apply of default SPC and SC resources
  pkg/client/k8s/v1alpha1/resource.go
  pkg/client/k8s/v1alpha1/resource_test.go
  pkg/install/v1alpha1/installer.go
  tests/sanity/sanity_suite_test.go
  tests/sanity/sanity_test.go
  tests/sts/sts_suite_test.go
  tests/sts/sts_test.go
Labels: kind/bug-fix, release-note, type: Installer

#1417 refact(localpv): change all references from nodeName to nodeHostname
  cmd/provisioner-localpv/app/config.go
  cmd/provisioner-localpv/app/helper_blockdevice.go
  cmd/provisioner-localpv/app/helper_hostpath.go
  cmd/provisioner-localpv/app/provisioner.go
  cmd/provisioner-localpv/app/provisioner_blockdevice.go
  cmd/provisioner-localpv/app/provisioner_hostpath.go
  pkg/kubernetes/persistentvolume/v1alpha1/persistentvolume.go
  pkg/kubernetes/pod/v1alpha1/build.go
Labels: release-note
