Repository openebs/maya, pull requests merged in 2020-05, with the labels that each got.

#1672 refact(webhook): update webhookconfiguration failure policy to Fail
  pkg/util/util.go
  pkg/webhook/configuration.go
Labels: component: Webhook, enhancement, pr/release-note

#1682 fix(cstor-restore): fixing restore api to return failure if cstorrestore is in invalid state
  changelogs/unreleased/1682-mynktl
  cmd/cstor-pool-mgmt/controller/restore/handler.go
  cmd/maya-apiserver/app/server/restore_endpoint_v1alpha1.go
Labels: BUG, component: Backup

#1678 fix(maya-exporter): fix duplicate metrics for openebs_zpool_last_sync_time
  changelogs/unreleased/1678-slalwani97
  cmd/maya-exporter/app/collector/zvol/metrics.go
  cmd/maya-exporter/app/collector/zvol/pool_synctime.go
  cmd/maya-exporter/app/collector/zvol/pool_synctime_test.go
Labels: kind/bug-fix, pr/release-note

#1681 fix(upgrade): fix version comparison function
  pkg/upgrade/templates/v1/cstor_pool.go
  pkg/upgrade/templates/v1/cstor_target.go
  pkg/upgrade/upgrader/csp_upgrade.go
  pkg/upgrade/upgrader/cstor_volume_upgrade.go
  pkg/upgrade/upgrader/jiva_upgrade.go
Labels: needs-review

#1683 refactor(travis): fixing travis for tagging downstream repo
  .travis.yml
Labels: priority/high, refactor

#1698 refact(exporter): handle concurrent scrape requests
  changelogs/unreleased/1698-utkarshmani1997
  cmd/maya-exporter/app/collector/collector.go
  cmd/maya-exporter/app/collector/cstor.go
  cmd/maya-exporter/app/collector/cstor_test.go
  cmd/maya-exporter/app/collector/metrics.go
Labels: BUG, pr/release-note, refactor, type: Monitoring
